<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
      <h1>Hi <%= @employee.name %>,</h1>
      <p>
        We have successfully initiated your payment for the invoice 
        "<strong><%= @invoice.id %></strong>".
      </p>
      <div>
        <p>
          This is an automated email. Please do not reply to this message.
        </p>
      </div>
    </div>
  </body>
</html>
