<!DOCTYPE html>
<html>
<head>
  <title>Payment Notification</title>
</head>
  <body>
    <h1>Hi <%= @employee.name %>,</h1>
    <p>
      Your payment will be initiated in 10 days for the invoice "<strong><%= @invoice.id %></strong>".
    </p>
    <p>Thank you!</p>
  </body>
</html>
