<!DOCTYPE html>
<html>
  <body>
    <h1>Hi <%= @employee.name %>,</h1>
    <p>
      Your payment will be initiated after 10 days for the invoice "#{@invoice.id}".
    </p>
    <p>Thank you!</p>
  </body>
</html>
