<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @client.name %>,
       your temperory password is <b><%= @client.temp_password %></b>.

       You can Signin in the webapp through this <a href="http://localhost:4000/clients/signup" target="_blank">SIGN UP</a>.

    </p>
  </body>
</html>
