<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @client.name %>,
       
      I trust this message finds you in good health and spirits. On behalf of the entire team, I extend a heartfelt welcome to you.

      We understand that your health is of utmost importance, and we are honored that you have chosen us. Our dedicated team is committed to providing you with the highest standard of care and support throughout your journey with us.

      As you embark on your path to wellness, please know that we are here to ensure your comfort and well-being. If you have any questions, concerns, or specific needs, please don't hesitate to communicate with our team.s

      Thank you for entrusting us with your care. We are privileged to serve you and are dedicated to making your experience as positive as possible.

    </p>
  </body>
</html>
