<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @client.name %>,

      <br>
      
      You have been signed-up for an account for Replenish Aesthetics & Wellness. 
      
      <br>

      Here you can make appointments with your provider, as well as view and pay for your appointments. A separate email has been sent with a temporary password and you can use that "set a new password" for your account with the using the same email address to login.

      <br>

      Feel free to email us at info@replenishmd.com if you have any other questions.

      <br>

      Thanks.
    </p>
  </body>
</html>
