<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Notification</title>
</head>
<body>
  <p>Dear <%= @client.name %>,</p>
  <% if @amount == 50 %>
    <p>Your payment of <%= @amount %> for the schedule on <%= @schedule.date %> has been successfully processed.</p>
  <% else %>
    <p>Your have successfully created a schedule on <%= @schedule.date %>.</p>
  <% end %>
  <p>Thank you!</p>
</body>
</html>