<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @schedule.client.name %>,
       
      This is the gentle remainder to inform you that we are very glad to have a meet with you for this treatment <strong> <%= @schedule.treatment.name%></strong>.
    </p>
  </body>
</html>
