<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi, <%= @client.name %>
      This is your temporary password:
      <%= @client.temp_password %>

      <br>
      Please click here to login:
      <%= link_to("Replenish Aesthetics & Wellness", "#{Rails.env.development? ? 'localhost:3000/clients/signin' : 'https://inv.replenishaw.com/clients/signin'}") %>
    </p>
  </body>
</html>
