<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
        Hi, Admin.

        Employee: <%= @inventory_request.requestor.name %> has requested <%= @inventory_request.quantity_asked %> <%= @inventory_request.inventory.product.name %> inventories and is needed by <%= @inventory_request.date_of_use.strftime("%d/%m/%y") %>. Please check the website to approve or deny the request.
    </p>
  </body>
</html>
