<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi, All of the Invoices created by Employee: <%= @invoice&.employee&.name %> with this Invoice: <%= @invoice.id %> have been rejected.
    </p>
  </body>
</html>
