<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      The Invoices: <%= @invoice_group.invoices.ids %> have been finalized.
      Employee Name: <%= @invoice_group.invoices.first.employee.name&.capitalize %>  
    </p>
  </body>
</html>
