<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      The Invoice: <%= @invoice.id %> has been finalized!
      Employee Name: <%= @invoice.employee.name&.capitalize %>  
    </p>
  </body>
</html>
