<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi. An Invoice has recently been created:
      Mentor: <%= @invoices&.first&.employee&.name %>,
      Client: <%= @invoices&.first&.client&.name %>
    </p>
  </body>
</html>
