<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      The Invoices: <%= @invoices.ids %> have been finalized.
      Mentor: <%= @invoices&.first&.employee&.name %>,
    </p>
  </body>
</html>
